<!doctype html>
<html>
<head>

	<title>{% block title %}Got Game?{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	{% block hscripts %}
	{% endblock %}

</head>

<body>

<div class="container">
<h1>{% block heading %}Got Game?{% endblock %}</h1>

{% block navbar %}

<nav class="navbar navbar-light bg-faded static-top">
<a class="nav-item nav-link" href='/'>Home</a> | 
{% if session.get('user_id') %}
<a class="nav-item nav-link" href="/user/{{ session['user_id'] }}">Profile</a> | 
<!-- <a href='/'>Favorites</a> | -->
<a class="nav-item nav-link" href='/logout'>Logout</a>
{% else %} 
<a class="nav-item nav-link" href='/register'>Register</a> |
<a class="nav-item nav-link" href='/login'>Login</a>
{% endif %}
</nav>
<hr>

<br>

{% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
{% endfor %}
</div>

</nav>
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</div>

</body>

{% block fscripts %}
{% endblock %}

</html>