<!doctype html>
<html>
<head>
	<title>Got Game?</title>
	<link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/game_results.js"></script>
</head>
<body>
<div class="container">
<h1>{% block heading %}Got Game?{% endblock %}</h1>
<br>
<a href='/'>Home</a> | 
<a href='/login'>Login</a> | 
<a href='/logout'>Logout</a> | 
<a href='/'>Profile</a> | 
<a href='/'>Favorites</a>

<!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
  	<a class="navbar-brand" href="#">Navbar</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<hr>

{% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
{% endfor %}
{% block content %}
{% endblock %}
</div>

</body>
</html>