<!doctype html>
<html>
<head>

	<title>{% block title %}Got Game?{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	{% block hscripts %}
	{% endblock %}

</head>

<body>

<div class="container">
<h1>{% block heading %}Got Game?{% endblock %}</h1>
{% block navbar %}
<br>
<a href='/'>Home</a> | 
{% if session.get('user_id') %}
<a href="/user/{{ session['user_id'] }}">Profile</a> | 
<!-- <a href='/'>Favorites</a> | -->
<a href='/logout'>Logout</a>
{% else %} 
<a href='/register'>Register</a> |
<a href='/login'>Login</a>
{% endif %}
{% endblock %}

<hr>

{% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
{% endfor %}
{% block content %}
{% endblock %}
</div>

</body>

{% block fscripts %}
{% endblock %}

</html>