{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h5>Bio</h5>

<form id='edit-profile-form' action='/update-profile' method='POST'>
	<input type='hidden' name='user_id' value='{{ user.user_id }}'>
	<input id='user-bio' type='text' name='user_bio' placeholder='(Max 500 characters)'>

<h5>Location</h5>

	<input id='user-location' type='text' name='user_location' placeholder='(Max 50 characters)'>

<h5>Birthday</h5>

	<input id='user-birthday' type='text' name='user_birthday' placeholder='(yyyy-mm-dd)'>
	<br><br>
	<input id='edit-profile' type='submit' value='Update your profile!'>
</form>
{% endblock %}