{% extends 'base.html' %}

{% block title %} {{ game.title }} {% endblock %}

{% block heading %} {{ game.title }} {% endblock %}

{% block content %}
<div class='game-table'>
<table id='game-info-table' class='stripe' cellspace='0' width='100%'>
	<thead>
	<tr>
		<th>Platform</th>
		<th>Genre</th>
		<th>Score (IGN)</th>
		<th>Score (Users)</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ game.platform }}</td>
			<td>N/A</td>
			<td>{{ game.critic_score }}</td>
			<td>{% if game.user_score %} 
				{{ game.user_score }} 
				{% else %} 
				N/A
				{% endif %}</td>

		</tr>
	</tbody>
</table>
</div>

<div>

	<a href='/adv-search'>Not what you were looking for?</a>

</div>

<div id='game-desc'>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- 3.0 - Allow users to create a discussion thread on any given game page. -->
<div id='comment-field'>
	<ul>
		<li></li>
	</ul>
</div>

<div id='review-field'>
{% if user_status %}
	<div id='user-review'>
		<!-- Remember to test for WHO user is -->

		{% if review %} 
		<p>Previously, you said: "{{ review.review }}"</p>

		<form id='update-review-form'>
			<input id='edit-score' type='number' name='user_score' placeholder='#' min=1.0 max=10.0 required>
			<input id='edit-review' type='text' name='review' placeholder='Update your review'>
			<input id='edit-id' type='hidden' name='game_id' value='{{ game.game_id }}'>
			<input id='edit-review' type='submit' value='Edit review'>
		</form>

			{% if review.game.platform != game.platform %}

			<p id='platform-status'>You reviewed this game on a different platform!</p>

			{% endif %}

		{% else %}

		<p id='review-status'>You haven't reviewed this game yet!</p>
		<div id='review-notif' hidden>Your review of {{ game.title }} has been added!</div>

		<!-- Known bug: How do I prevent a user from posting multiple times?
		It's possible to make multiple reviews with the exact same 
		user_id, game_id, and review text. -->

		<form id='review-form'>
			<input id='new-score' type='number' name='user_score' placeholder='#' min=1 max=10 required>
			<input id='new-review' type='text' name='review' placeholder='Write a review'>
			<input id='game-id' type='hidden' name='game_id' value='{{ game.game_id }}'>
			<input id='submit-review' type='submit' value='Review {{ game.title }}'>
		</form>
		{% endif %}
	</div>

	<div id='all-reviews'>
		<!-- for review in reviews - maybe use a carousel? -->
	</div>
</div>
{% endif %}
<!-- Place user's own review at top OR form to add their own review
* Display everyone else's review of this game below -->

{% if reviews %}
<ul>
	{% for review in reviews %}
	<li>{{ review.review }}</li>
	{% endfor %}
</ul>
{% endif %}

{% block scripts %}
<link rel='stylesheet'
	  href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css'>
<script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
<script src='/static/game_results.js'></script>
<script src='/static/game_info.js'></script>
{% endblock %}
{% endblock %}