{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-md-6 col-lg-4">        
    <form action='/search-results'>
        <div class='form-group'>
        <label>Enter a game title</label>
        <br>
        <input id='basic-search' type='search' class='form-control' name='title' placeholder='Looking for a particular game?'>
        <input type='submit' class='btn btn-blue row-top-margin' value='Search'>
        </div>
    </form>

    <a href="/adv-search">
        Advanced search
    </a>
</div>
{% endblock %}