{% extends 'base.html' %}

{% block hscripts %} 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  		crossorigin="anonymous"></script>
{% endblock %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h2>{{ user.username }} ( {{ user.user_id }} )</h2>

<i>user joined on {{ user.joined_at|datetime }}</i>

<h3>About</h3>
<div id='user-profile'>
	<p>
	{% if user.bio %}
	{{ user.bio }}
	{% else %}
	( <i>{{ user.username }} has not added a bio yet</i> )
	{% endif %}
	</p>
	{% if user.location %}
	Location: {{ user.location }}<br>
	{% endif %}
	{% if user.birthday %}
	Birthday: {{ user.birthday|datetime('birthday') }}
	{% endif %}
</div>

{% if session.get('user_id') == user.user_id %}
<div class='row-top-margin'>
<a href='/edit-profile/{{ user.user_id }}'>
	<button id='edit-profile' 
			type='button' 
			class='btn btn-info'>
			Edit profile infomation
	</button>
</a>
</div>
{% endif %}

<div class='row-top-margin'>
<h4>Reviews</h4>
<ul>{% for review in reviews %}
	<li><a href="/game/{{ review.game.platform }}/{{ review.game.title }}">{{ review.game.title }}</a></li>
	{% endfor %}
</ul>

<p>Number of games reviewed: {{ num_reviews }}</p>

<a id='tags'></a>
<h4>Tags</h4>

<form id='create-tags-form'>

	<label>Separate tags with commas:</label>
	<p>
	<input id='new-tags'
		   type='text'
		   name='new_tags'>
	<input id='create-tags' 
		   class='btn btn-primary' 
		   type='submit'
		   value='Create new tags'>
	</p>

</form>

<div id='tag-notif' hidden>SUCCESS!</div>

<div class='container'>
<div class='row'>
<div id='drag-and-drop-tags'>
	<div id='tag-field'>
	{% for tag in tags %}

	<span id='{{tag.tag_id}}'
		  class='user-tags-drag badge badge-secondary' 
	      name='{{tag.tag}}'>

		{{ tag.tag }}

	</span>

	{% endfor %}
	</div>
<hr>

<label>Drag here to delete tags:</label>
	
	<div id='delete-tags-field'
		 class='deleting-drop well'
		 >
	</div>
<!-- drag and drop field ends here -->
</div>

<form id='delete-user-tags-form'>
	<input id='delete-tags'
		   class='btn btn-danger'
		   type='submit'
		   value='Delete tags'>
</form>

</div>
</div>
{% endblock %}

{% block fscripts %}
<script src='/static/user_profile.js'></script>
{% endblock %}