
{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h2>{{ user.username }} ( {{ user.user_id }} )</h2> <i>user joined on {{ user.joined_at }}</i>

<h3>About</h3>
<div id='user-bio'>
	<p>
	{% if user.bio %}
	{{ user.bio }}
	<form id='update-blurb-form' action='/update-bio' method='POST'>
		<input type='hidden' name='user_id' value='{{ user.user_id }}'>
		<input id='user-bio' type='text' name='user_bio' placeholder='(Max 500 characters)'>
		<input id='change-blurb' type='submit' value='Update your blurb!'>
	</form>
	{% else %}
	( <i>this user has not added a bio yet</i> )
	<form id='blurb-form' action='/update-bio' method='POST'>
		<input type='hidden' name='user_id' value='{{ user.user_id }}'>
		<input id='user-bio' type='text' name='user_bio' placeholder='(Max 500 characters)'>
		<input id='submit-blurb' type='submit' value='Add a blurb about yourself!'>
	</form>
	{% endif %}
	</p>
</div>

<h4>Reviews</h4>
<ul>{% for review in reviews %}
	<li><a href="/game/{{ review.game.platform }}/{{ review.game.title }}">{{ review.game.title }}</a></li>
	{% endfor %}
</ul>

<p>Number of games reviewed: {{ num_reviews }}</p>

{% endblock %}